history-table {
  #operation-line{
    font-weight: bold;
  }
  #operation-line-date{
    font-size: 80%;
    color: #757575
  }
  .debit{
    color: #e93a3a;
  }
  .credit{
    color: #30d05f;
  }

}
