page-day {

  .vertical-scroll{
    overflow-x:auto
  }

  .daily-remain{
    font-weight: bold;
  }

  .daily-spend-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 20%;
    .daily-spend{
      color: #fdb100;
      font-weight: bold;
      font-size: 200%;
    }
  }

}
