page-day {



  .daily-spend-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    .daily-spend{
      color: #fdb100;
      font-weight: bold;
      font-size: 300%;
    }
  }

}
